.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 5em;
    margin-bottom: 4em;
    background-color: #660099;
    color: #fff;
  }
  .title{
    color: #fff;
    font-size: 40px;
    text-align: center;
    position: relative;
  }
  .projects{
    color: #fff;
    font-size: 20px;
    text-align: center;
  }